---
layout: default
title: "People"
permalink: /people/
# author_profile: false

---

{% assign current = site.data.people | where: "alum", "false" %}
{% assign alums = site.data.people | where: "alum", "true" %}


{% assign pi = current | where: "pos", "Principal Investigator" %}
{% assign cristen = current | where: "pos", "Admin Lab Manager" %}
{% assign anne = current | where: "pos", "Admin Assistant" %}
{% assign sumita = current | where: "pos", "Lab Manager" %}
{% assign assistants = current | where: "pos", "Lab Assistant" %}
{% assign jeffH = current | where: "pos", "Senior Scientist" %}
{% assign postdocs = current | where: "pos", "Post-doc" %}
{% assign grads = current | where: "pos", "Grad student" %}
{% assign techs = current | where: "pos", "Technician" %}
{% assign urops = current | where: "pos", "Undergrad" %}


<div class="container">

   <div class="row">
      {% for jonathan in pi %}

         <div class="col-md-4 g-0 border_left my-5" id="{{jonathan.id}}">
            <img class="img-fluid portrait" src="{{ site.baseurl }}/assets/img/people/{{ jonathan.id }}.jpg" />
            <div class="label p-3">
               <span class="name">{{ jonathan.name }}</span><br>
               <span class="pos">{{ jonathan.pos }}</span>
            </div>
         </div>

      {% endfor %}
<!--    </div>

   <div class="row"> -->
      {% for admin in cristen %}

         <div class="col-md-4 g-0 border_left my-5" id="{{admin.id}}">
            <img class="img-fluid portrait" src="{{ site.baseurl }}/assets/img/people/{{ admin.id }}.jpg" />
            <div class="label p-3">
               <span class="name">{{ admin.name }}</span><br>
               <span class="pos">{{ admin.pos }}</span>
            </div>
         </div>

      {% endfor %}

      {% for admin in anne %}

         <div class="col-md-4 g-0 border_left my-5" id="{{admin.id}}">
            <img class="img-fluid portrait" src="{{ site.baseurl }}/assets/img/people/{{ admin.id }}.jpg" />
            <div class="label p-3">
               <span class="name">{{ admin.name }}</span><br>
               <span class="pos">{{ admin.pos }}</span>
            </div>
         </div>

      {% endfor %}

      {% for lab_manager in sumita %}

         <div class="col-md-4 g-0 border_left my-5" id="{{lab_manager.id}}">
            <img class="img-fluid portrait" src="{{ site.baseurl }}/assets/img/people/{{ lab_manager.id }}.jpg" />
            <div class="label p-3">
               <span class="name">{{ lab_manager.name }}</span><br>
               <span class="pos">{{ lab_manager.pos }}</span>
            </div>
         </div>

      {% endfor %}

      {% for assistant in assistants %}

         <div class="col-md-4 g-0 border_left my-5" id="{{assistant.id}}">
            <img class="img-fluid portrait" src="{{ site.baseurl }}/assets/img/people/{{ assistant.id }}.jpg" />
            <div class="label p-3">
               <span class="name">{{ assistant.name }}</span><br>
               <span class="pos">{{ assistant.pos }}</span>
            </div>
         </div>

      {% endfor %}
      {% for scientist in jeffH %}

         <div class="col-md-4 g-0 border_left my-5" id="{{scientist.id}}">
            <img class="img-fluid portrait" src="{{ site.baseurl }}/assets/img/people/{{ scientist.id }}.jpg" />
            <div class="label p-3">
               <span class="name">{{ scientist.name }}</span><br>
               <span class="pos">{{ scientist.pos }}</span>
            </div>
         </div>

      {% endfor %}
<!--    </div>

   <div class="row"> -->
      {% for postdoc in postdocs %}

         <div class="col-md-4 g-0 border_left my-5" id="{{postdoc.id}}">
            <img class="img-fluid portrait" src="{{ site.baseurl }}/assets/img/people/{{ postdoc.id }}.jpg" />
            <div class="label p-3">
               <span class="name">{{ postdoc.name }}</span><br>
               <span class="pos">Postdoctoral Fellow</span>
            </div>
         </div>

      {% endfor %}
<!--    </div>

   <div class="row"> -->
      {% for grad in grads %}

         <div class="col-md-4 g-0 border_left my-5" id="{{grad.id}}">
            <img class="img-fluid portrait" src="{{ site.baseurl }}/assets/img/people/{{ grad.id }}.jpg" />
            <div class="label p-3">
               <span class="name">{{ grad.name }}</span><br>
               <span class="pos">Graduate Student</span>
            </div>
         </div>

      {% endfor %}

      {% for tech in techs %}

         <div class="col-md-4 g-0 border_left my-5" id="{{tech.id}}">
            <img class="img-fluid portrait" src="{{ site.baseurl }}/assets/img/people/{{ tech.id }}.jpg" />
            <div class="label p-3">
               <span class="name">{{ tech.name }}</span><br>
               <span class="pos">Research Technician</span>
            </div>
         </div>

      {% endfor %}

      {% for urop in urops %}

         <div class="col-md-4 g-0 border_left my-5" id="{{urop.id}}">
            <img class="img-fluid portrait" src="{{ site.baseurl }}/assets/img/people/{{ urop.id }}.jpg" />
            <div class="label p-3">
               <span class="name">{{ urop.name }}</span><br>
               <span class="pos">Research Technician</span>
            </div>
         </div>

      {% endfor %}
   </div>

{% comment %}
<!--    <h2>Alumni</h2>

   <div class="row">
      {% for alum in alums %}
         <div class="row" id="{{alum.id}}">
            <div class="col-3">{{ alum.name }}</div>
            <div class="col-3">{{ alum.pos }}</div>
            <div class="col-6">{{ alum.now }}</div>
         </div>
      {% endfor %}
   </div>
 -->
{% endcomment %}

</div>