---
layout: default
title: "Publications"
permalink: /publications/
---


{% assign lab_members = site.data.people | map: "id" %}

{% assign current_year = '0' %}

<div class="container">
<div class="col-md-8 offset-2">

{% for pub in site.data.publications %}

   <div>

   {% if current_year != pub.publication_year %}
      <div class="border_top py-2 mt-4"><h3>{{ pub.publication_year }}</h3></div>
   {% endif %}
   {% assign current_year = pub.publication_year %}

   <br>

   <h5>{{ pub.title }}</h5>

   <div class="authors">
   {% for author in pub.authors %}

{% comment %}
      {% capture author_id %}{{ author | split: " " | first }}{{ author | split: " " | last }}{% endcapture %}

      {% if lab_members contains author_id %}

         <nobr><a href="/people/#{{author_id}}" class="author_link"><b>{{ author }}</b></a>{% if forloop.last == false %},{% endif %}</nobr>

      {% else %}
         <nobr>{{ author }}{% if forloop.last == false %},{% endif %}</nobr>

      {% endif %}
{% endcomment %}
         <nobr>{{ author }}{% if forloop.last == false %},{% endif %}</nobr>
   {% endfor %}


   </div>

   <a href="https://doi.org/{{ pub.doi }}" class="article_link">{{ pub.journal }}</a>

   <br>
   <br>

   </div>

{% endfor %}


</div>




